@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 22rem;
    background-color: #ecb991;
    border-radius: 16px;
}
.exheader {
    background-color: #f5c557;
    height: 44px;
    display: flex;
    flex-direction: row;
}
.exheader h1 {
    text-align: center;
    margin-left: 10px;
    align-content: center;
    font-size: 24px;
}
.timer-wrapper {
    display: flex;
    flex-direction: column;
}
.timer-wrapper li {
    padding: 1rem 1rem;
    font-size: 20px;
    text-align: left;
    margin-left: 12px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    align-items: center;
    border: 3px sandybrown;
    border-radius: 8px;
}
.button-wrapper button {
    margin-left: 8px;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 10px;
    transition: all 200ms ease-in-out;
}
.button-wrapper button:hover {
    background-color: #f3c570;
    color: #f1d49a;
}
